<div class="formulario" m>
  <h1 class="texto-encima">Iniciar sesión</h1>
  <form class="i">
    <img
      src="https://media-cdn.tripadvisor.com/media/photo-s/12/7d/74/97/vista-hermosa-centro.jpg"
      alt=""
      class="img-rounded"
    />
    <br />
    <label>Correo</label>
    <br />
    <input type="text" size="35" placeholder="correo" />
    <br />
    <label>Contraseña</label>
    <br />
    <input type="password" size="35" placeholder="Password" />
    <br />

    <a href="/p4" (click)="onClickMe()">
      <button type="button" class="btn btn-primary">Login</button></a
    >
    <a href="/p3">registrate aquí</a>
    {{ clickMessage }}
    <br />
    <label>Aún no te has registrado?</label>
  </form>
</div>
